# Pandas

In this section we examine the Pandas library for working with data sets.

#### What kind of data does pandas handle?

### Series
A Series is a one-dimensional array-like object containing a sequence of values (of similar types to NumPy types) and an associated array of data labels, called its index.
### Data frame
Rectangular data (like a spreadsheet) is the basic data structure for statistical and machine learning models.

In [46]:
import pandas as pd

In [ ]:
age= pd.Series([41, 77, 5, 94], name = "Age")
print(age)
print(age[0:2])

#### concat Series

In [ ]:
s1 = pd.Series([41, 77, 5, 94], name = "Age1")
s2 = pd.Series([40, 70, 50, 90], name = "Age2")
sconcat1 = pd.concat([s1, s2],axis=1)
print(sconcat)
sconcat2 = pd.concat([s1, s2],axis=0)
print(sconcat2)

#### merge() performs join operations similar to relational databases like SQL

In [ ]:
In [44]: left = pd.DataFrame(
        {
        "key": ["K0", "K1", "K2", "K3"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
       }
  )


In [45]: right = pd.DataFrame(
        {
            "key": ["K0", "K1", "K2", "K4"],
            "C": ["C0", "C1", "C2", "C3"],
            "D": ["D0", "D1", "D2", "D3"],
       }
 )


#left join on key
resultL = pd.merge(left, right, how="left" , on="key")
print(resultL)
#right join on key
resultR = pd.merge(left, right, how="right" , on="key")
print(resultR)
#inner join on key
resultI = pd.merge(left, right, how="inner" , on="key")
print(resultI)
#outer join on key
resultO = pd.merge(left, right, how="outer" , on="key")
print(resultO)

In [ ]:
df = pd.DataFrame(
    {
        "name": [ 
            "Lionel Messi",
            "Manuel Neuer",
            "David Alaba"      
        ], 
        "age": [36,37,31],
        "sex": ["m","m","m"]
    } );
        
print(df)
df

# Data frame has always an index 
df.index
print("df.index: ", df.index)

# Also a "named" index (like a PK)

df.index = ["lm","mn","da"]
print("\n df with new index \n", df)

# With loc[] -> search index
df.loc["lm"]

## Creating Data frames from Lists and Series

In [ ]:
# Creating two lists
author = ['Goedel', 'Turing', 'McCarthy', 'Minsky']
article = [210, 211, 114, 178]

# Convert article to DataFrame
articledf = pd.DataFrame(article, columns=['Numbers'])
print(articledf.head())
 
# Creating two Series by passing lists
auth_series = pd.Series(author)
article_series = pd.Series(article)
 
# Creating a dictionary by passing Series objects as values
frame = {'Author': auth_series,
         'Article': article_series}
 
# Creating DataFrame by passing Dictionary
result = pd.DataFrame(frame)
 
# Printing elements of Dataframe
print(result)
type(result)

## General Infos about Dataframe

In [ ]:
import pandas as pd
age= pd.Series([41, 77, 5, 94], name = "Age")
print(age)
print(age[0:2])
df = pd.DataFrame(
    {
        "name": [ 
            "Lionel Messi",
            "Manuel Neuer",
            "David Alaba"      
        ], 
        "age": [36,37,31],
        "sex": ["m","m","m"]
    } );
        
print(df)
df

# Data frame has always an index 
df.index

# Also a "named" index (like a PK)

df.index = ["lm","mn","da"]

# With loc[] -> search index
df.loc["lm"]

In [ ]:
# iloc[] is used to access elements of a Series/DataFrame by using the index of the elements.
my_series = pd.Series([10,20,30,40,50])
print(my_series.iloc[2])  # access the 3rd element of the series

# iloc[] can be used to access elements of a DataFrame
print(df.iloc[1,1])  # access the element in the 2nd row and 2nd column

print(df.loc["mn","age"])  # access the element in the row with index "mn" and column "age"

df.iloc[1,1] = 100  # change the value of the element in the 2nd row and 2nd column
print(df)

## SQL like queries with pandas DataFrame

In [ ]:
df = pd.DataFrame({'A': [1,2,3,4], 'B': [5,6,7,8]})

df["A"] >  2 # returns a boolean series
df[(df["A"] > 2) & (df["B"]> 7)]  # returns a DataFrame

df2 = pd.DataFrame({'Name': ['John', 'Paul', 'George', 'Ingo'], 'Age': [22, 21, 20, 24]})

df2['Age'].mean()  # calculate the mean of the column 'Age'
df2[(df2['Age'] > 20) & (df2['Age'] < 23)]  # select rows where the age is between 20 and 23

df2[(df2['Name'] > "George") & (df2['Age'] < 28)]   # SQL like query with pandas DataFrame

## Titanic dataset


### Import CSV and Part of CSV into Dataframe

Importing csv files can be done by using the pandas method read_csv() 

In some cases, you might want to read only a specific part of a large dataset to save memory or to focus on a particular subset of the data. This can be done using the `usecols` parameter in the `read_csv` function to specify which columns to read.

In [ ]:
homedir = "C:/Home/DSAI/datasets/titanic.csv"
titanicdf = pd.read_csv(homedir, sep=';', decimal = ',',skiprows=[1])  # skip the first row

# overview of the data
titanicdf.head()
titanicdf.describe()  
titanicdf.info()

# Selecting columns and rows
#titanicdf1 = pd.read_csv(homedir, sep=';', header=0, usecols=["name", "sex", "age"]
                     #  , index_col=["age","name"] # new order of columns and index, nrows=5 # number of rows to read)

# Export to csv
#titanicdf.to_csv('titanicdf.csv')

In [ ]:
# Home destinations of passengers from New York
titanicdf[titanicdf["home.dest"] == "New York, NY"]
titanicdf[titanicdf["home.dest"] == "New York, NY"].shape[0]  # length of the result

In [ ]:
# list unique values of a column
print(titanicdf['home.dest'].value_counts())

# list home destinations
my_list = list(titanicdf['home.dest'].unique())
print(my_list)

In [ ]:
titanicdf["survived"].value_counts()  # count the number of passengers who survived [1] and who did not survive [0]

titanicdf["survived"].value_counts(normalize=True)  # percentage of passengers who survived and who did not survive 

notsurvived  = titanicdf["survived"].value_counts(normalize=True)[0]   # = titanicdf[titanicdf["survived"] == 0]
survived  = titanicdf["survived"].value_counts(normalize=True)[1]   # = titanicdf[titanicdf["survived"] == 1]

print("Not survived: ", round(notsurvived,3))
print("survived: ", round(survived,3))

#### Number of missing values

In [ ]:
# Missing values
titanicdf.isna().sum()  # count the number of missing values in each column

titanicdf["cabin"].isna().sum()  # count the number of missing values in the column 'cabin' -  most of the values are missin

In [ ]:
#to check if the missing values for embark and homedst column are for the same person,
# otherwise both columns could be filled based on the other column's value
df = titanicdf
df['embarked'][(df['embarked'].isnull()) & (df['home.dest'].isnull())]

In [ ]:
# Number of female/male passengers
female = titanicdf[ titanicdf["sex"] == "female"].shape[0]  # number
male = titanicdf[ titanicdf["sex"] == "male"].shape[0]  # number
print("Number of female passengers: ", female,"\n", "Number of male passengers",male)

### Survival Rate/Sex

In [ ]:
titanicdf[(titanicdf["sex"] == "male") & (titanicdf["survived"] == 1)]["PassengerId"].count()   # number of survived males 
titanicdf[(titanicdf["sex"] == "female") & (titanicdf["survived"] == 1)]["PassengerId"].count()   # number of survived females 

titanicdf[(titanicdf["sex"] == "male") & (titanicdf["survived"] == 0)]["PassengerId"].count()   # number of not survived males 
titanicdf[(titanicdf["sex"] == "female") & (titanicdf["survived"] == 0)]["PassengerId"].count()   # number of not survived females 

#titanicdf.groupby("sex")["survived"==1].count()
#titanicdf.groupby("sex").count()

### Grouping data

In [ ]:
# rename the column pclass to class
titanicdf.rename(columns={"pclass": "class"}, inplace=True)

# find each class's highest fare
print(titanicdf.groupby('class')['fare'].max())
# mean age of each class
titanicdf.groupby('class')['age'].mean()

# Grouping data by survival status and gender
# grouped_data = titanicdf.groupby(['survived', 'sex'])["PassengerId"].count() # count the number of passengers in each group show only one column

# better to use size() instead of count() to get the total number of passengers in each group
#grouped_data = titanicdf.groupby(['survived', 'sex']).size()

# unstack() is used to reshape the data
grouped_data = titanicdf.groupby(['survived', 'sex']).size().unstack()

#select the number female passengers who survived
#grouped_data = titanicdf.groupby(['survived', 'sex']).size().unstack().iloc[1,0]

# Display the grouped data
print(grouped_data)

In [ ]:
# Mean age of passengers who survived and who did not survive
titanicdf.groupby("survived")["age"].mean("age")

# Mean age of passengers depending on the cabin
titanicdf.groupby("cabin")["age"].mean("age")

In [ ]:
# Survival rate depending on the cabin class
survived = titanicdf[["class", "survived"]].groupby("class").sum()
all = titanicdf[["class", "survived"]].groupby("class").count()
dead = all - survived
print(all,survived,dead, survived*100/all)

#### Set missing age values to -1

In [ ]:
df2["Age"].groupby(df2["Age"]).count()
df2["Age"].fillna(-1, inplace=True)
df2.head()

In [ ]:
# Passengers with the same ticket number (= familiy ?)
titanicdf["ticket"].groupby(titanicdf["ticket"]).count().sort_values(ascending=False)

##### Check if families survived

In [ ]:
titanicdf[titanicdf["ticket"] == "1601"][["ticket","name","survived","age"]]

titanicdf[titanicdf["ticket"].isin(["CA. 2343","1601","CA 2144","3101295"])][["ticket","name","survived","age"]]

 ##### Adding a new row to data frame

In [ ]:
# New data to be inserted
new_data = {
    'PassengerId': 1311,
    'survived': 1,
    'pclass': 1,
    'name': 'Doe, Mr. John',
    'sex': 'male',
    'age': 30,
    'sibsp': 0,
    'parch': 0,
    'ticket': '12345',
    'fare': '100.00',
    'cabin': 'C123',
    'embarked': 'S',
    'boat': '2',
    'body': None,
    'homedest': 'New York, NY',
    'pclassint': 1,
    'age_category': 'Adult'
}

newdf = pd.DataFrame(new_data, index=[0])

newdf.head()

# titanicdf = titanicdf.append(new_data, ignore_index = True)   -> removed pandas 2.0
titanicdf = pd.concat([titanicdf, newdf], ignore_index = True) 
 
# Display the last few rows to verify the insertion
print(titanicdf.tail())

#### Concat() DataFrames

In [72]:
# Get a DataFrame with passengers only from London and Paris

df_london = titanicdf[titanicdf['home.dest'] == "London"]  # select passengers from London
df_paris = titanicdf[titanicdf['home.dest'] == "Paris"]  # select passengers from Paris

# Concatenate the extracted rows into a new DataFrame
df_londonparis = pd.concat([df_london,df_paris], ignore_index=True, axis=0) # axis {0/’index’, 1/’columns’}, default 0
                                                                            # ignore_index bool, default False I
                                                                            # f True, do not use the index values along the concatenation axis.

### Nice output with display()

In [ ]:
# set options for the display
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.colheader_justify', 'center')
pd.set_option('display.precision', 2)
pd.set_option('display.max_colwidth', 30)

display(df_londonparis)


# Pandas Cut – Continuous to Categorical

* Sometimes analysis becomes effortless on conversion from continuous to discrete data. 
* Pandas’ cut function is a distinguished way of converting numerical continuous data into categorical data. It has 3 major  necessary parts:
    * First and foremost is the 1-D array/DataFrame required for input.
    * Bins represent boundaries of separate bins for continuous data. bins = 0,10,20, ... -> (0-10], (10-20] , etc 
    * Labels: The number of labels without exception will be one lower than the number of bins. ["young", "middle", ...]

In [ ]:
titanicdf['c_class'] = pd.cut(x=titanicdf['class'], bins=[0, 1, 2, 4],
                     labels=['1st_class', '2d_class', '3rd_class'])

titanicdf["c_class"].value_counts()